<!-- in <head> -->
<!DOCTYPE html>
<html>
<head>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.js"></script>
</head>

<body>
<h1>ChessHILO</h1>
<p>Score: {{  score  }}</p>

<div id="left">
  <div id="board-left" style="width: 400px"></div>
  <p>This position has been played in {{  num_games_left }} games.</p>
</div>

<div id="right">
  <div id="board-right" style="width: 400px"></div>
  <p>Higher or lower?</p>
  <form method="POST" action="/guess">
    <button name="answer" value="higher">Higher</button>
    <button name="answer" value="lower">Lower</button>
  </form>
</div>

<a href="/dashboard" style="display: block">Quit</a>

<script>
  var pieceTheme =
  'https://chessboardjs.com/img/chesspieces/wikipedia/{piece}.png';
  Chessboard('board-left', {
    position: '{{ fen_left }}', // Flask passes the FEN here
    pieceTheme: 'https://chessboardjs.com/img/chesspieces/wikipedia/{piece}.png'
    });
  Chessboard('board-right', {
    position: '{{ fen_right }}', // Flask passes the FEN here
    pieceTheme: 'https://chessboardjs.com/img/chesspieces/wikipedia/{piece}.png'
    });  
</script>

</body>
</html>