<!-- in <head> -->
<!DOCTYPE html>
<html>
<head>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.js"></script>
</head>

<body class="game">
<h1>ChessHILO</h1>

<div id="left">
  <div id="board-left" style="width: 400px"></div>
  <p class="num-games">{{  num_games_left }}</p>
  <p class="label">games played</p>
</div>

<div id="vs">VS</div>

<div id="right">
  <div id="board-right" style="width: 400px"></div>
  <p class="label">Higher or lower?</p>
  <form method="POST" action="/guess">
    <button name="answer" value="higher">Higher</button>
    <button name="answer" value="lower">Lower</button>
  </form>
</div>

<p id="score">Score: {{  score  }}</p>

<a id="quit" href="/dashboard" style="display: block">Quit</a>

<script>
  var pieceTheme =
  'https://chessboardjs.com/img/chesspieces/wikipedia/{piece}.png';
  Chessboard('board-left', {
    position: '{{ fen_left }}', // Flask passes the FEN here
    pieceTheme: 'https://chessboardjs.com/img/chesspieces/wikipedia/{piece}.png'
    });
  Chessboard('board-right', {
    position: '{{ fen_right }}', // Flask passes the FEN here
    pieceTheme: 'https://chessboardjs.com/img/chesspieces/wikipedia/{piece}.png'
    });  
</script>

</body>
</html>